<!DOCTYPE html>
<html lang="ro">


<head>
    <meta name="keywords" content="KnitKnotCrochet, produse de croșetat, produse de tricotat, handmade, 
            fire de croșetat și tricotat, noutăți, promoții, ustensile și materiale">
    <meta name="description" content="KnitKnotCrochet: magazin online și fizic cu produse croșetate/tricotate handmade, 
            ustensile și fire premium. Descoperă promoții, noutăți și inspiră-te din creațiile noastre!">
    <title> KnitKnotCrochet </title>
    <%- include("../fragmente/head.ejs") %>

</head>

<body class="pagina-galerie">
    <%- include("../fragmente/header.ejs") %>
        <main>
            <div id="grid-pagina">
                <section id="galerie-statica">
                    <h2>Galerie</h2>
                    <%- include("../fragmente/galerie_fragment.ejs") %>
                </section>
            </div>
        </main>
        <%- include("../fragmente/footer.ejs") %>
</body>

</html>