/* Resetare */
:root {
    --font-size-base: 1rem !important;
    --spatiere-mica: 0.5em !important;
    --spatiere-medie: 1em !important;
    --spatiere-mare: 2em !important;
    --culoare-text: #333 !important;
    --culoare-fundal: #f9be8e !important;
    --border-general: 1px solid #ccc !important;


    --culoare-tabel-th: #f4f4f4 !important;
    --culoare-subtitlu-bg: #ffffff !important;
    --culoare-link-vizitat: #ffffff !important;
    --scris-alb: #ffffff !important; /*folosit in produs.css*/
    --culoare-rezultat-math: purple !important;
    --culoare-hover-link-extern: rgb(210, 109, 0) !important;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px !important;
    font-family: Arial, sans-serif !important;
    color: var(--culoare-text) !important;
    background-color: var(--culoare-fundal) !important;
    line-height: 1.5 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold !important;
    margin-bottom: var(--spatiere-medie) !important;
}

p {
    margin-bottom: var(--spatiere-medie)!important;
}

strong,
b {
    font-weight: bold;
}

em,
i {
    font-style: italic;
}

ul,
ol {
    margin-left: var(--spatiere-mare);
    padding-left: var(--spatiere-medie);
}

li {
    margin-bottom: var(--spatiere-mica);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: var(--border-general);
    padding: var(--spatiere-mica);
    text-align: left;
}

th {
    background-color: var(--culoare-tabel-th);
}

img,
video {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*--------------------------------------------------------------------------------------*/
#grid-pagina {
    display: grid;
    grid-template-areas:
        "sectiune1             sectiune1           sectiune1"
        "anunturi              oferte              imagemap_"
        "istoric               oferte              imagemap_"
        "istoric               program-magazine    intrebari-frecvente"
        "sectiune_             sectiune_           sectiune_"
        "galerie-statica       galerie-statica     galerie-statica";

}

#grid-pagina>* {
    outline: 1px solid var(--culoare-inchisa);
}

#oferte {
    grid-area: oferte;
}

#imagemap_ {
    grid-area: imagemap_;
}

#sectiune1 {
    grid-area: sectiune1;
}

#sectiune_ {
    grid-area: sectiune_;
}

#galerie-statica {
    grid-area: galerie-statica;
}

#anunturi {
    grid-area: anunturi;
}

#program-magazine {
    grid-area: program-magazine;
}

#intrebari-frecvente {
    grid-area: intrebari-frecvente;
}

#istoric {
    grid-area: istoric;
}
html {
    background-color: var(--culoare-fundal) !important;
}
body {
    --culoare-background: #FFD7B5 !important;
    --culoare-deschisa: #FFA646 !important;
    --culoare-default: rgb(210, 109, 0) !important;
    --culoare-inchisa: #8A6237 !important;
    --culoare-f_inchisa: #221C16 !important;
    --link-top: gray !important;

    --spatiere-pagina: 80px !important;
    --spatiere-grid: 20px !important;
    --padding-text: 15px !important;
    padding-left: var(--spatiere-pagina) !important;
    padding-right: var(--spatiere-pagina) !important;
}

h1 {
    font-family: "Pacifico", cursive !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: var(--culoare-default) !important;
}

#tab-program {
    width: 100% !important;
    border-collapse: collapse !important;
    border: 5px inset var(--culoare-default) !important;
}

caption {
    caption-side: bottom;
    font-style: italic;
    padding: 8px;
}

th,
td {
    border: 1px solid var(--culoare-inchisa);
    padding: 10px;
    text-align: center;
}

thead th {
    background-color: var(--culoare-default);

}

tbody tr:nth-child(odd) td {
    border-bottom: 1px solid var(--culoare-inchisa);
}

tbody tr:nth-child(even) td {
    border-bottom: 1px solid var(--culoare-default);
}

tbody tr:hover {
    outline: 5px solid var(--culoare-inchisa);
    transition: outline 0.5s ease-in-out;
}

#link-top {
    position: fixed;
    bottom: 0.3em;
    opacity: 0.5;
    left: 0.3em;
    width: 3rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    border-top: none;
    border-bottom: none;
    border-right: 5px solid var(--link-top);
    border-left: 5px solid var(--link-top);
    border-radius: 50%;
    background: transparent;
    filter: blur(1px);
    transition: opacity 0.5s linear, filter 0.5s linear;
}

#link-top:hover {
    opacity: 1;
    filter: blur(0px);
}

#triunghi {
    height: 0px;
    width: 0;
    display: inline-block;
    border-bottom: 1.5rem solid var(--link-top);
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    vertical-align: top;
    scale: 0.5;
    transform: translateY(70%);
    transition: transform 0.5s linear, filter 0.5s linear, border-bottom 0.5s linear;
}

#link-top:hover #triunghi {
    transform: scale(1.2, 1.2);
    filter: blur(0px);
    border-bottom: 1.5rem solid var(--culoare-default);
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#taburi-iframe {
    text-align: center;
    justify-content: flex-end;
    overflow: hidden;
}

#taburi-iframe a {
    border: 3px solid var(--culoare-inchisa);
    text-decoration: none;
    padding: 15px 10px;
    width: 60%;
    background-color: var(--culoare-deschisa);
    color: var(--culoare-inchisa);
    border-radius: 0px 35px 5px 0px;
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    position: relative;
    margin-bottom: -5px;
}

#taburi-iframe a:last-child {
    margin-bottom: 0;
}

#taburi-iframe a:hover {
    color: white !important;
    text-shadow: 2px 2px 5px var(--culoare-f_inchisa) !important;
    border-left-color: var(--culoare-default) !important;
}

/* pdf */
#container-pdf object {
    width: 90%;
    min-width: 300px;
    max-width: 800px;
    height: 80vh;
    display: block;
    margin: 20px auto;
}


#grid-pagina {
    display: grid;
    gap: var(--spatiere-grid);
}

header,
footer,
#grid-pagina>section {
    background-color: var(--culoare-background);
    border: 2px solid var(--culoare-inchisa);
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--culoare-f_inchisa);
    padding: var(--padding-text);
}

img,
video {
    max-width: 100% !important;
    height: auto !important;
    min-width: 200px !important;
    max-width: 800px !important;
}

iframe {
    min-height: 315px !important;
    height: 60vh !important;
    max-height: 600px !important;
}

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer iframe {
    display: block;
    margin: auto;
}

.styled-math {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.styled-math mi.variable {
    font-weight: bold;
    color: var(--culoare-f_inchisa);
}

.styled-math mo.operator {
    color: red;
    font-weight: bold;
}

.styled-math mn.number {
    color: var(--culoare-inchisa);
}

.styled-math mn.percentage,
.styled-math mi.percentage-symbol {
    color: var(--culoare-default);
    font-style: italic;
}

.styled-math mi.percentage-symbol {
    font-weight: bold;
}

.styled-math mo.bracket {
    color: gray;
}

.styled-math mn.result {
    font-weight: bold;
    color: var(--culoare-rezultat-math);
}

.styled-math mtext.unit {
    font-style: italic;
    color: #000;
}


/* etapa 4 task VTT */
#container-video video {
  width: 90%;
  transform: scale(0.7); /* video micsorat */
  transform-origin: center;
  display: block;
  margin: 20px auto;
  min-width: 300px;
  max-width: 800px;
}

video::cue {
  background-color: var(--culoare-subtitlu-bg);
  color: var(--culoare-f_inchisa);
  text-align: center;
  position: relative;
  top: -30%;
}


/* etapa 4 LINK */
/* Linkuri vizitate */
a:visited {
    color: var(--culoare-link-vizitat);
}

/* Linkuri externe — ⮳ */
a[href^="http"]::before {
    content: "⮳ ";
    font-size: 150%;
    margin-right: 0.2em;
    color: inherit;
    transition: color 0.3s ease;
}

/* Schimbare culoare simbol la hover pe link extern */
a[href^="http"]:hover::before {
    color: var(--culoare-default);
}

/* Efect pata pe linkuri din main */
main a {
    position: relative;
    text-decoration: none;
    color: var(--culoare-inchisa) ;
    transition: background-size 0.4s ease;
    background-image: radial-gradient(circle, var(--culoare-default) 0%, var(--culoare-deschisa) 40%, transparent 80%, transparent 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0% 0%;
}

/* La hover efect radial */
main a:hover {
    background-size: 100% 100%;
}

/* Border pe link din main la click */
main a:active {
    border: 2px solid var(--culoare-inchisa);
    border-radius: 4px;
}

/*Pentru pagina galerie*/

.pagina-galerie #grid-pagina {
    gap: 0;
}


/*etapa 5 HR -----------------------------------------------------------------------------------*/

hr.efect-css-stilizare-hr {
    height: 32px !important;
    border: none !important;
    background-image:
        radial-gradient(circle,
            var(--culoare-deschisa) 25%,
            var(--culoare-inchisa) 40%,
            rgba(70, 130, 180, 0) 50%),
        linear-gradient(to bottom,
            transparent 30%,
            var(--culoare-deschisa) 50%,
            var(--culoare-deschisa) 50%,
            transparent 70%) !important;
    background-repeat: no-repeat, no-repeat !important;
    background-position: center center, center !important;
    background-size: 32px 32px, 100% 100% !important;
    opacity: 1 !important;
    margin: 0 !important;
}


/* etapa 5: Reflexie -----------------------------------------------------------------------*/

.efect-css-reflexie-text {
  position: relative;
  display: inline-block;
  font-size: 24px; /* aceeasi dimensiune pentru ambele parti de text */
  font-weight: bold;
  cursor: pointer;
  line-height: 1.2;
}

.titlu-principal,
.titlu-reflectat {
  color: var(--culoare-default);
  transition: color 0.3s ease;
  display: inline-block;
  white-space: nowrap;
  /*previne ruperea pe mai multe linii a textului, indiferent de 
  spatiu sau dimensiune*/
}

.titlu-principal {
  transform: skewY(-6deg); /* stanga jos -> dreapta sus */
}

.titlu-reflectat {
  position: absolute;
  top: 0;
  left: 100%;
  transform: scaleX(-1) skewY(-6deg); /* oglindire + inclinare */
  opacity: 0.5;
  pointer-events: none;
}

.efect-css-reflexie-text:hover .titlu-principal,
.efect-css-reflexie-text:hover .titlu-reflectat {
  color: var(--culoare-inchisa);
}


/* etapa 5: Duotone -----------------------------------------------------------------------------*/
#imagine-duotone {
    position: relative;
    background-image: url('https://cdn.pixabay.com/photo/2024/01/11/16/12/yarn-8502110_1280.jpg');
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 500px;
    filter: brightness(90%) grayscale(0); /*efect luminozitate si tonuri gri*/
    transition: all 1.5s ease;
    overflow: hidden; 
    box-shadow: 0 0 20px rgb(92, 64, 51);
}

#imagine-duotone::after,
#imagine-duotone::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 1.5s ease;
}

#imagine-duotone::before {
    background-color: #5C4033;
    mix-blend-mode: lighten;
}

#imagine-duotone::after {
    background-color: #8B5E3C;
    mix-blend-mode: lighten;
}

#imagine-duotone:hover::before {
    background-color: rgba(222, 184, 135, 0.4);
}

#imagine-duotone:hover::after {
    background-color: rgba(255, 239, 213, 0.4);
}

#container-duotone {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /*80% din inaltimea totala a ecranului disponibi*/
    width: 100%;
    margin: 20px 0;
}


/* ---------------------------Etapa 6; Tema dark aplicata cu body.dark -----------------------------*/
body.dark {
    --culoare-background: #2b2b2b !important;
    --culoare-deschisa: #444 !important;
    --culoare-default: #f5ba50 !important;
    --culoare-inchisa: #e0aaff !important;
    --culoare-f_inchisa: #cccccc !important;
    --culoare-text: #f0f0f0 !important;
    --culoare-subtitlu-bg: #3a3a3a !important;
    --culoare-link-vizitat: #f0c987 !important;
    --link-top: #999 !important;
    background-color: var(--culoare-background) !important;
    color: var(--culoare-text) !important;
}

body.dark header,
body.dark footer,
body.dark #grid-pagina > section {
    background-color: #1f1f1f !important;
    border-color: var(--culoare-default) !important;
    box-shadow: 3px 3px 10px #000 !important;
}

body.dark table th,
body.dark thead th {
    background-color: #3d3d3d !important;
}

body.dark a:hover::before {
    color: var(--culoare-deschisa) !important;
}

body.dark main a {
    background-image: radial-gradient(circle, var(--culoare-default) 0%, var(--culoare-deschisa) 40%, transparent 80%, transparent 100%);
}


@media screen and (max-width:800px) {
    #grid-pagina {
        display: block;
    }

    html {
        font-size: 10px !important;
    }

    body {
        --spatiere-pagina: 20px !important;
        --spatiere-grid: 10px !important;
    }

    .tabel-container {
        overflow-x: auto;
    }
}

@media screen and (max-width:1200px) {
    html {
        font-size: 14px !important;
    }

    body {
        --spatiere-pagina: 50px !important;
        --spatiere-grid: 15px !important;
    }

    #grid-pagina {
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "sectiune1              sectiune1"
            "anunturi               anunturi"
            "oferte                 oferte"
            "imagemap_              imagemap_"
            "istoric                istoric"
            "program-magazine       program-magazine"
            "intrebari-frecvente    intrebari-frecvente    "
            "sectiune_              sectiune_"
            "galerie-statica        galerie-statica";

    }

}