<footer>
    <a href="https://sheepandstitch.com/how-to-knit/" target="_blank">Tutorial</a><br /><!--11. link extern-->
    <br>
    <a href="#" title="mergi sus" id="link-top">
        <div id="triunghi"></div>
    </a>
    <br>
    <address><!--13.telefon, email, etc.-->
        Telefon: <a href="tel:+40769294633">+40 712 345 678</a><br />
        Adresă: <a href="https://maps.app.goo.gl/XhBrEcYPP47xxxUD9" target="_blank">Strada Sforii 3,
            Brașov</a><br />
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8843011451936!2d26.097006412257667!3d44.4355354709552
                !2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%8
                3%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1741549179018!5m2!1sro!2sro" width="600"
            height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe><!--bonus harta-->
        <br />
        Email: <a href="mailto:contact@knitknotcrochet.ro">contact@knitknotcrochet.ro</a><br />
        WhatsApp: <a href="https://wa.me/40769294633" target="_blank">+40769294633</a>
    </address>

    <small><!--14.-->
        &copy; KnitKnotCrochet <time datetime="2023-06-29">29 iunie 2023</time>
    </small>

    
    <p id="banner">Acesta este un proiect școlar!</p>
    <div id="watermark">
        <p>Tanase Cezar-Ioan</p>
    </div>
    
</footer>